{% extends 'index.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Food Calorie Recognition</h1>
            <!-- <img src="/static/img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="{{url_for('index')}}" class="nav-item nav-link">Home</a>
                <a href="{{url_for('about')}}" class="nav-item nav-link active">About</a>
                <a href="{{url_for('register')}}" class="nav-item nav-link">Register</a>
                <a href="{{url_for('login')}}" class="nav-item nav-link">LogIn</a>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="booking.html" class="dropdown-item">Booking</a>
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    </div>
                </div> -->
            </div>
            <!-- <a href="" class="btn btn-primary py-2 px-4">Book A Table</a> -->
        </div>
    </nav>
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
        <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="/static/img/about-1.jpg">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="/static/img/about-2.jpg" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="/static/img/about-3.jpg">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="/static/img/about-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                    <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>Food Calaries Recognition</h1>
                    <p class="mb-4">When you upload an image of a food item, the system uses deep learning to classify it. It then displays both the original image and the recognized food type for easy reference. Additionally, comprehensive nutritional information is provided, allowing you to learn about the food’s nutrient content at a glance.</p>
                    <!-- <p class="mb-4"><b>"Discover, Cook, Delight: Transforming Ingredients into Experiences with AI"</b></p> -->
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
