{% extends 'index.html' %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Food Calorie Recognition</h1>
            <!-- <img src="/static/img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="{{url_for('index')}}" class="nav-item nav-link">Home</a>
                <a href="{{url_for('about')}}" class="nav-item nav-link">About</a>
                <a href="{{url_for('register')}}" class="nav-item nav-link active">Register</a>
                <a href="{{url_for('login')}}" class="nav-item nav-link">LogIn</a>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="booking.html" class="dropdown-item">Booking</a>
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    </div>
                </div> -->
            </div>
            <!-- <a href="" class="btn btn-primary py-2 px-4">Book A Table</a> -->
        </div>
    </nav>
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Registration</h1>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}

    <div class="container-xxl py-5">
        <div class="container">
            
            <div class="row g-4">
                
                
                <div class="col-md-12">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form action="{{url_for('register')}}" method="post">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required>
                                        <label for="name">Your Name</label>
                                    </div>
                                </div><br>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                                        <label for="email">Your Email</label>
                                    </div>
                                </div><br>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div><br>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="c_password" name="c_password" placeholder="c_password" required>
                                        <label for="c_password">Conform Password</label>
                                    </div>
                                </div><br>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}